/*        Start   Rules             */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }






  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.clearfix{clear:both}

.container{
    width: 95%;
    margin: auto;
}
/*     Start    Header    */
.header .slider{
    background-image:url('dene.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;/*css3*/
    -o-background-size:cover;  /*css3*/
    background-size:cover;     /*css3*/
    height: 25%;
    overflow: hidden;
}

.header .slider .intro{
    height: 600px;
    text-align:center;
    color:#fff;
    padding-top:200px;
 }



.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
/*     End     Header    */
/*       Start  about-me    */
.about-me {
   /* background-color:#f2f2f2;*/
    overflow :hidden;
}

.about-me .image{  
    float:left;
    width:40%;
    height: 100%;
    height:300px;
}

.about-me .image img{
    width:100%;
}

.about-me .info h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:uppercase;
    margin:40px 0px 20px 40px;
}

.about-me .info > p{
    margin:40px 0px 20px 40px;
    line-height:1.4;
    color:rgb(147,150,147);
}

.about-me .info p{
    margin:40px 0px 20px 40px;
}

.about-me .info {
    float:right;
    text-align: left;
    width:60%;
}

.about-me .info a{
   text-decoration: none;
   text-align: center;
   margin: 0 0 0 50px;
}

  .about-me .info .hobbies{
      overflow:hidden;
      margin:20px;
  }

  .about-me .info .hobbies > div{
      margin: 0;
      padding: 0%;
      float:left;
      width:25%;
      min-height: 100px;
      height: 50%;
  }

  
/*       End    about-me    */

/*       Start  my-city    */

.my-city {
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden;
}
*
{
padding:0;
margin:0;
}
body
{
overflow-x:hidden;
font-family:'PT Sans', sans-serif;
}
.my-city .section-container
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
}
.my-city .section-container .columns
{
flex:0 0 auto;
width:50%;
}
.my-city .section-container .columns.image
{
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
.my-city .section-container .columns.content .content-container
{
padding:40px 50px;
}
.my-city .section-container .columns.content .content-container h5
{
font-weight:700;
font-size:25px;
margin-bottom:20px;
}
.my-city .section-container .columns.content .content-container p
{
font-weight:400;
font-size:16px;
margin-bottom:20px;
margin-bottom:15px;
text-align:justify;
}
@media screen and (max-width:767px)
{
.my-city .section-container
{
flex-flow:row wrap;
}
.my-city .section-container .columns.image{
display:block;
order:1;
width:100%;
height:250px;
}
.my-city .section-container .columns.content
{
display:block;
order:2;
width:100%;
}
.my-city .section-container .columns.content .content-container
{
padding:20px 35px;
}
.my-city .section-container .columns.content .content-container h5
{
margin-bottom:5px;
}
}

.contact-me .info h2{color:white;}

.contact-me .info p{color:darkgray;}

.contact-me .info,.contact-me .form
{
    float:left;
    width:50%;
}

.footer {
    background-color:#181818;
    color:darkgray;
    padding:20px 0px;
    text-align: center;
}




/*      END      CONTACT ME    */


/*        End     Rules             */

.go-to{
  text-align: center;
}